.graph-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graph-area img {
    max-width: 500px;
    height: auto; 
    display: block; 
    margin: 0 auto; 
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    object-fit: contain;
    margin-top: 20px; 
}

.graph-area p {
    text-align: center; 
}

.graph-area button{
    margin-top: 20px;
    padding: 20px 30px;
    font-size: 30px;
    color: white;
    font-family: outfit;
    border-radius: 50px;
    border: none;
    background: linear-gradient(221deg, #40da76 0%, #45ad18 100%);
    cursor: pointer;
}