.Hero{
    margin-top: 120px;
    position: relative;
    height: 100%;
    z-index: 1;
}

.hero-para{
    display: flex;
    flex-direction: column;
    margin-top: 240px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    font-size: 30px;
}

.hero-para strong{
    background: linear-gradient(0deg, rgba(255,234,93,1) 0%, rgba(208,97,0,1) 100%);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.upload{
    padding: 20px 40px;
    border-radius: 50px;
    background: #8E2DE2;  /* fallback for old browsers */
    background-image: linear-gradient( 109.6deg,  #bb00d4 11.2%, #2026ee 91.1% );
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 30px;
    width: auto;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    color: white;
    font-family: outfit;
    border: none;
}

.upload:hover{
    transform: scale(1.05);
    box-shadow: 40px 0 100px #2026ee, -40px 0 100px #bb00d4;
}

.upload-file{
    text-align: center;
}


h2{
    margin-top: 50px;
    text-align: left;
    margin-left: 20px;
}

.upload-file p{
    margin-top: 20px;
    text-align: center;
}

.column{
    margin-top: 50px;
    justify-content: left;
    margin-left: 0px;
}

.column-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.column-item input {
    margin-right: 10px;
}

.axis-selection {
    display: flex;
    justify-content: left;
}

.axis-selection div {
    width: 45%;
}

.column-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 120px;
    justify-content: left;
    text-align: center;
    
}

.column-item input {
    margin-right: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.graph-type-selection {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 30px;
}

.graph-type-selection label {
    margin-right: 10px;
    font-size: 20px;
}

select {
    font-size: 20px;
    appearance: none;
    outline: 01;
    background: rgb(64,218,118);
    color: white;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    font-family: outfit;
    padding: 5px;
    display: block;
}

.generate {
        margin-top: 20px;
        padding: 20px 30px;
        font-size: 30px;
        color: white;
        font-family: outfit;
        border-radius: 50px;
        border: none;
        background: linear-gradient(221deg, #40da76 0%, #45ad18 100%);
    transition: 0.5s;
}

.generate:hover{
    transform: scale(1.05);
    box-shadow: 40px 0 100px #45ad18, -40px 0 100px #40da76;
    background: linear-gradient(50deg, #40da76 0%, #45ad18 100%);
}

