*{
  margin: 0;
  padding: 0;  
}
body{
  height: 100vh;
  background: #161513;
  color: white;
  font-family: 'Outfit';
  background-image: url('./assets/hero-backgroung.jpg');
  background-size: cover;
  background-attachment: fixed;
}

body::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Dark semi-transparent background */
  backdrop-filter: blur(2px); /* Blur effect */
  z-index: 0; /* Ensure it stays behind the content */
}
